body {
    background: #F5F5F5;
    padding: 0 100px;
}

a,
p,
h1,
h2,
h3,
span,
div {
    font-family: 'Roboto';
    font-style: normal;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}

a:hover,
.active {
    font-weight: 700;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.47em;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.nav {
    list-style: none;
    padding: 0;
    margin-right: 60px;
    overflow: hidden;
}

.nav>li {
    float: left;
    margin-right: 60px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid black;
    padding-top: 60px;
    margin-top: 60px;
}

.title {
    margin-bottom: 60px;
}

.main-form {
    text-align: left;
    max-width: 350px;
    margin: 0 auto;
}

.main-form input,
.main-form select,
.main-form textarea {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    width: 100%;
    padding: 8px 15px;
    margin-top: 9px;
}

.main-form label {
    margin-top: 10px;
    display: block;
}

.btn {
    padding: 10px 15px;
    border: 1px solid;
    margin: 0 auto;
}

.sign-btn {
    margin: 30px auto 50px;
    display: block;
    background: #EBE5FC;
    color: #6610F2;
}

.half-content {
    display: flex;
    justify-content: space-between;
}

.half-content>div {
    flex: 1;
}

.half-content .main-form {
    margin: 0;
    max-width: initial;
}

.half-content input {
    width: 80%;
}

.half-content.half-form input {
    width: 50%;
}

.img-wrapper {
    width: 360px;
    height: 360px;
    border: 1px solid;
    margin-right: 30px;
}


.img-wrapper>img {
    width: 100%;
    height: 100%;
}

.order-btn {
    margin: 30px auto 50px 0;
    display: block;
    background: #EBE5FC;
    color: #6610F2;
}



.item-card img {
    width: 100%;
}

.item-card {
    width: 345px;
    height: 445px;
    background: #EFEFEF;
    border: 1px solid #000000;
    flex: 3;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}

.site-hero {
    text-align: center;
    background: #c4c4c4;
    margin: 0 -108px 50px -108px;
    padding-top: 105px;
    background-image: url('../img//home-page.jpg');
    background-size: cover;
}

.site-hero h1 {
    margin-bottom: 75px;
    letter-spacing: 20px;
    color: #fff;
}

.site-hero a {
    display: inline-block;
    margin-bottom: 150px;
    color: #fff;
}

.features .f-item {
    text-align: center;
    width: 390px;
    float: left;
}

.features .f-item img {
    height: 85px;
    width: 85px;
    display: inline-block;
    border-radius: 50px;
}

.new-movies {
    text-align: center;
}

.center-button {
    display: inline-block;
    text-align: center;
    margin: 60px;
}



/* card page styles */


#shopping-cart {
    margin: 40px;
}

#product-grid {
    margin: 40px;
}

#shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
}

#shopping-cart table td {
    background-color: #FFFFFF;
}

.txt-heading {
    color: #211a1a;
    border-bottom: 1px solid #E0E0E0;
    overflow: auto;
}

#btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
    margin-bottom: 18px;
}

.product-item {
    float: left;
    background: #ffffff;
    margin: 30px 30px 0px 0px;
    border: #E0E0E0 1px solid;
}

.product-image {
    height: 155px;
    width: 250px;
    background-color: #FFF;
}

.clear-float {
    clear: both;
}

.demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
}

.tbl-cart {
    font-size: 0.9em;
}

.tbl-cart th {
    font-weight: normal;
}

.product-title {
    margin-bottom: 20px;
}

.product-price {
    float: left;
}

.cart-action {
    float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}

.no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
}

.features {
    margin: 0 auto;
    overflow: hidden;
}

.success {
    color: green;
    text-align: center;
}

.err {
    color: red;
    text-align: center;
}